networks:
  mysql:
    name: mysql

services:
  php:
    build: ./.docker/php
    restart: always
    ports:
      - 80:80
    volumes:
      - ./volumes/suitecrm:/var/www/html
      - ~/.composer:/root/.composer
    depends_on:
      - mysql
    environment:
      - VERSION_SUITECRM=${VERSION_SUITECRM:-v8.8.0}
      - XDEBUG_CONFIG=client_host=172.17.0.1 client_port=9003 start_with_request=yes
      - TZ=America/Sao_Paulo
    networks:
      - mysql
  mysql:
    image: mysql
    restart: unless-stopped
    ports:
      - 3306:3306
    volumes:
      - ./volumes/mysql/dump:/docker-entrypoint-initdb.d
      - ./volumes/mysql/data:/var/lib/mysql
    environment:
      - MYSQL_ROOT_PASSWORD=root
      - MYSQL_DATABASE=root
    networks:
      - mysql
